## EDA on Property and Casualty Data

In [74]:
# Here is an explanation of the columns: https://www.kaggle.com/code/zainawan27/exploratorydataanalysisinsurance

In [1]:
# import libraries
import pandas as pd

In [60]:
# Import data
filename = '~/Documents/Software/DevFile/Property&CasualtyInsurance/finalapi.csv'
pdf_data = pd.read_csv(filename)
print(pdf_data.shape)
pdf_data

(213328, 49)

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,RETENTION_POLY_QTY,POLY_INFORCE_QTY,PREV_POLY_INFORCE_QTY,NB_WRTN_PREM_AMT,...,PL_BOUND_CT_ELINKS,PL_QUO_CT_ELINKS,PL_BOUND_CT_PLRANK,PL_QUO_CT_PLRANK,PL_BOUND_CT_eQTte,PL_QUO_CT_eQTte,PL_BOUND_CT_APPLIED,PL_QUO_CT_APPLIED,PL_BOUND_CT_TRANSACTNOW,PL_QUO_CT_TRANSACTNOW
0,3,3,BOILERMACH,CL,IN,2005,0,0,0,40.00,...,0,0,0,103,50,288,0,0,0,0
1,3,3,BOILERMACH,CL,IN,2006,0,0,0,151.00,...,0,0,0,103,50,288,0,0,0,0
2,3,3,BOILERMACH,CL,IN,2007,0,0,0,40.00,...,0,0,0,103,50,288,0,0,0,0
3,3,3,BOILERMACH,CL,IN,2008,0,0,0,69.00,...,0,0,0,103,50,288,0,0,0,0
4,3,3,BOILERMACH,CL,IN,2009,0,0,0,28.00,...,0,0,0,103,50,288,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213323,9998,9998,PERSUMBREL,PL,IN,2014,39,39,60,0.00,...,0,0,0,0,22,136,0,0,0,0
213324,9998,9998,PERSUMBREL,PL,IN,2015,15,15,18,0.00,...,0,0,0,0,22,136,0,0,0,0
213325,9998,9998,PERSUMBREL,PL,KY,2013,0,9,99999,132.19,...,0,0,0,0,22,136,0,0,0,0
213326,9998,9998,PERSUMBREL,PL,KY,2014,9,12,9,0.00,...,0,0,0,0,22,136,0,0,0,0
213327,9998,9998,PERSUMBREL,PL,KY,2015,5,5,5,0.00,...,0,0,0,0,22,136,0,0,0,0

In [6]:
# Examine the column names, if any nulls, and data types
pdf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213328 entries, 0 to 213327
Data columns (total 49 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   AGENCY_ID                  212986 non-null  float64
 1   PRIMARY_AGENCY_ID          212986 non-null  float64
 2   PROD_ABBR                  213328 non-null  object
 3   PROD_LINE                  213328 non-null  object
 4   STATE_ABBR                 213328 non-null  object
 5   STAT_PROFILE_DATE_YEAR     213328 non-null  int64
 6   RETENTION_POLY_QTY         213328 non-null  int64
 7   POLY_INFORCE_QTY           213327 non-null  float64
 8   PREV_POLY_INFORCE_QTY      213327 non-null  float64
 9   NB_WRTN_PREM_AMT           213328 non-null  float64
 10  WRTN_PREM_AMT              213328 non-null  float64
 11  PREV_WRTN_PREM_AMT         213328 non-null  float64
 12  PRD_ERND_PREM_AMT          213328 non-null  float64
 13  PRD_INCRD_LOSSES_AMT       213328 non-null  float64
 14  MONTHS                     213328 non-null  int64
 15  RETENTION_RATIO            213328 non-null  float64
 16  LOSS_RATIO                 213328 non-null  float64
 17  LOSS_RATIO_3YR             213328 non-null  float64
 18  GROWTH_RATE_3YR            213328 non-null  float64
 19  AGENCY_APPOINTMENT_YEAR    213328 non-null  int64
 20  ACTIVE_PRODUCERS           213328 non-null  int64
 21  MAX_AGE                    213328 non-null  int64
 22  MIN_AGE                    213328 non-null  int64
 23  VENDOR_IND                 213328 non-null  object
 24  VENDOR                     213328 non-null  object
 25  PL_START_YEAR              213328 non-null  int64
 26  PL_END_YEAR                213328 non-null  int64
 27  COMMISIONS_START_YEAR      213328 non-null  int64
 28  COMMISIONS_END_YEAR        213328 non-null  int64
 29  CL_START_YEAR              213328 non-null  int64
 30  CL_END_YEAR                213328 non-null  int64
 31  ACTIVITY_NOTES_START_YEAR  213328 non-null  int64
 32  ACTIVITY_NOTES_END_YEAR    213328 non-null  int64
 33  CL_BOUND_CT_MDS            213328 non-null  int64
 34  CL_QUO_CT_MDS              213328 non-null  int64
 35  CL_BOUND_CT_SBZ            213328 non-null  int64
 36  CL_QUO_CT_SBZ              213328 non-null  int64
 37  CL_BOUND_CT_eQT            213328 non-null  int64
 38  CL_QUO_CT_eQT              213328 non-null  int64
 39  PL_BOUND_CT_ELINKS         213328 non-null  int64
 40  PL_QUO_CT_ELINKS           213328 non-null  int64
 41  PL_BOUND_CT_PLRANK         213328 non-null  int64
 42  PL_QUO_CT_PLRANK           213328 non-null  int64
 43  PL_BOUND_CT_eQTte          213328 non-null  int64
 44  PL_QUO_CT_eQTte            213328 non-null  int64
 45  PL_BOUND_CT_APPLIED        213328 non-null  int64
 46  PL_QUO_CT_APPLIED          213328 non-null  int64
 47  PL_BOUND_CT_TRANSACTNOW    213328 non-null  int64
 48  PL_QUO_CT_TRANSACTNOW      213328 non-null  int64
dtypes: float64(13), int64(31), object(5)
memory usage: 79.8+ MB

In [5]:
# Examine the numberical columns
pdf_data.describe()

,AGENCY_ID,PRIMARY_AGENCY_ID,STAT_PROFILE_DATE_YEAR,RETENTION_POLY_QTY,POLY_INFORCE_QTY,PREV_POLY_INFORCE_QTY,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,PREV_WRTN_PREM_AMT,PRD_ERND_PREM_AMT,...,PL_BOUND_CT_ELINKS,PL_QUO_CT_ELINKS,PL_BOUND_CT_PLRANK,PL_QUO_CT_PLRANK,PL_BOUND_CT_eQTte,PL_QUO_CT_eQTte,PL_BOUND_CT_APPLIED,PL_QUO_CT_APPLIED,PL_BOUND_CT_TRANSACTNOW,PL_QUO_CT_TRANSACTNOW
count,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,2.133280e+05,2.133280e+05,2.133280e+05,...,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000,213328.000000
mean,4978.964158,21840.982206,2010.191738,158.634525,175.616919,6694.153369,2243.651368,1.963268e+04,2.600812e+04,1.945872e+04,...,26928.162206,26969.472127,26931.800401,27039.756497,26963.478081,27091.403323,26928.081002,26933.596284,26927.300134,26927.453377
std,2928.027642,36410.355440,3.129108,718.766295,774.640860,24639.586044,9976.801667,6.644395e+04,7.008093e+04,6.635115e+04,...,44357.460628,44333.186665,44355.256891,44291.273197,44336.059501,44258.970692,44357.509786,44354.180214,44357.983442,44357.890447
min,3.000000,3.000000,2005.000000,0.000000,0.000000,0.000000,0.000000,-2.027776e+05,-1.861810e+05,-1.643490e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2366.000000,2788.000000,2008.000000,0.000000,0.000000,0.000000,0.000000,2.027500e+00,1.480000e+02,7.600000e+01,...,0.000000,0.000000,0.000000,0.000000,11.000000,66.000000,0.000000,0.000000,0.000000,0.000000
50%,4976.000000,6110.000000,2010.000000,0.000000,0.000000,0.000000,0.000000,1.143620e+03,1.781000e+03,1.180490e+03,...,0.000000,0.000000,0.000000,0.000000,51.000000,258.000000,0.000000,0.000000,0.000000,0.000000
75%,7589.000000,9285.000000,2013.000000,24.000000,30.000000,72.000000,485.000000,8.358695e+03,1.477315e+04,8.231562e+03,...,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
max,9998.000000,99999.000000,2015.000000,21979.000000,22968.000000,99999.000000,556930.220000,1.715742e+06,1.904570e+06,1.780498e+06,...,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000

Many columns have 9998 or 9999 as their max value. These require more investigation.

## Investigating 9998 and 9999 values

In [62]:
# Figure out how many 9998 or 9999 values are present in each column.

dct_missing_values = {}

for i in pdf_data:
    dct_missing_values[i] = {}
    dct_missing_values[i]['9998'] = pdf_data[i].isin([9998]).sum().item()
    dct_missing_values[i]['9999'] = pdf_data[i].isin([9999]).sum().item()
    dct_missing_values[i]['99999'] = pdf_data[i].isin([99999]).sum().item()
dct_missing_values

{'AGENCY_ID': {'9998': 342, '9999': 0, '99999': 0},
 'PRIMARY_AGENCY_ID': {'9998': 342, '9999': 0, '99999': 37874},
 'PROD_ABBR': {'9998': 0, '9999': 0, '99999': 0},
 'PROD_LINE': {'9998': 0, '9999': 0, '99999': 0},
 'STATE_ABBR': {'9998': 0, '9999': 0, '99999': 0},
 'STAT_PROFILE_DATE_YEAR': {'9998': 0, '9999': 0, '99999': 0},
 'RETENTION_POLY_QTY': {'9998': 0, '9999': 0, '99999': 0},
 'POLY_INFORCE_QTY': {'9998': 1, '9999': 1, '99999': 0},
 'PREV_POLY_INFORCE_QTY': {'9998': 1, '9999': 1, '99999': 13893},
 'NB_WRTN_PREM_AMT': {'9998': 0, '9999': 1, '99999': 1},
 'WRTN_PREM_AMT': {'9998': 0, '9999': 0, '99999': 0},
 'PREV_WRTN_PREM_AMT': {'9998': 0, '9999': 0, '99999': 13893},
 'PRD_ERND_PREM_AMT': {'9998': 0, '9999': 0, '99999': 0},
 'PRD_INCRD_LOSSES_AMT': {'9998': 0, '9999': 0, '99999': 0},
 'MONTHS': {'9998': 0, '9999': 0, '99999': 0},
 'RETENTION_RATIO': {'9998': 0, '9999': 0, '99999': 129978},
 'LOSS_RATIO': {'9998': 0, '9999': 0, '99999': 51232},
 'LOSS_RATIO_3YR': {'9998': 0, '9999': 0, '99999': 49117},
 'GROWTH_RATE_3YR': {'9998': 0, '9999': 0, '99999': 91067},
 'AGENCY_APPOINTMENT_YEAR': {'9998': 0, '9999': 0, '99999': 5639},
 'ACTIVE_PRODUCERS': {'9998': 0, '9999': 0, '99999': 5639},
 'MAX_AGE': {'9998': 0, '9999': 0, '99999': 5639},
 'MIN_AGE': {'9998': 0, '9999': 0, '99999': 5639},
 'VENDOR_IND': {'9998': 0, '9999': 0, '99999': 0},
 'VENDOR': {'9998': 0, '9999': 0, '99999': 0},
 'PL_START_YEAR': {'9998': 0, '9999': 0, '99999': 82200},
 'PL_END_YEAR': {'9998': 0, '9999': 0, '99999': 209174},
 'COMMISIONS_START_YEAR': {'9998': 0, '9999': 0, '99999': 141937},
 'COMMISIONS_END_YEAR': {'9998': 0, '9999': 0, '99999': 205604},
 'CL_START_YEAR': {'9998': 0, '9999': 0, '99999': 129311},
 'CL_END_YEAR': {'9998': 0, '9999': 0, '99999': 204760},
 'ACTIVITY_NOTES_START_YEAR': {'9998': 0, '9999': 0, '99999': 171536},
 'ACTIVITY_NOTES_END_YEAR': {'9998': 0, '9999': 0, '99999': 209258},
 'CL_BOUND_CT_MDS': {'9998': 0, '9999': 0, '99999': 98689},
 'CL_QUO_CT_MDS': {'9998': 0, '9999': 0, '99999': 98689},
 'CL_BOUND_CT_SBZ': {'9998': 0, '9999': 0, '99999': 98689},
 'CL_QUO_CT_SBZ': {'9998': 0, '9999': 0, '99999': 98689},
 'CL_BOUND_CT_eQT': {'9998': 0, '9999': 0, '99999': 98689},
 'CL_QUO_CT_eQT': {'9998': 0, '9999': 0, '99999': 98689},
 'PL_BOUND_CT_ELINKS': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_QUO_CT_ELINKS': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_BOUND_CT_PLRANK': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_QUO_CT_PLRANK': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_BOUND_CT_eQTte': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_QUO_CT_eQTte': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_BOUND_CT_APPLIED': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_QUO_CT_APPLIED': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_BOUND_CT_TRANSACTNOW': {'9998': 0, '9999': 0, '99999': 57444},
 'PL_QUO_CT_TRANSACTNOW': {'9998': 0, '9999': 0, '99999': 57444}}

In [37]:
# Examine the rows that contain 9999 values
# Turn lines on or off as needed

# pdf_data[pdf_data['PREV_POLY_INFORCE_QTY'] == 9999]
# pdf_data[pdf_data['PREV_POLY_INFORCE_QTY'] == 9998]
pdf_data[pdf_data['NB_WRTN_PREM_AMT'] == 9999]

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,RETENTION_POLY_QTY,POLY_INFORCE_QTY,PREV_POLY_INFORCE_QTY,NB_WRTN_PREM_AMT,...,PL_BOUND_CT_ELINKS,PL_QUO_CT_ELINKS,PL_BOUND_CT_PLRANK,PL_QUO_CT_PLRANK,PL_BOUND_CT_eQTte,PL_QUO_CT_eQTte,PL_BOUND_CT_APPLIED,PL_QUO_CT_APPLIED,PL_BOUND_CT_TRANSACTNOW,PL_QUO_CT_TRANSACTNOW
17693,811,811,WORKCOMP,CL,KY,2005,0,0,0,9999.0,...,0,5,0,0,17,78,5,34,0,0

### Conclusion Regarding 9998 or 9999 or 99999 values

There does not appear to be very many 9998 or 9999. 
There are many more 99999 values. Replace with NaN.

In [63]:
# Replace rows containing the 9998 or 9999 values
# It's easiest to replace all values with nan and then drop rows containing a null
import numpy as np

print(f"The shape of pdf_data BEFORE inserting nulls: {pdf_data.shape}")

for i in pdf_data:
    pdf_data[i] = pdf_data[i].replace(9998, np.nan)
    pdf_data[i] = pdf_data[i].replace(9999, np.nan)
    pdf_data[i] = pdf_data[i].replace(99999, np.nan)


# pdf_data = pdf_data.dropna()
print(f"The shape of pdf_data AFTER inserting nulls: {pdf_data.shape}")

The shape of pdf_data BEFORE inserting nulls: (213328, 49)
The shape of pdf_data AFTER inserting nulls: (213328, 49)

## Looking for Duplicate Rows

In [64]:
# Looking for duplicates
duplicates = pdf_data.duplicated()
duplicates.sum().item()

0

## Examine the categorical variables

In [73]:
# How many unique AGENCY_ID's?

print(f"The number of unique agencies: {pdf_data['AGENCY_ID'].nunique()}")

The number of unique agencies: 1622

In [71]:
# Examine the categorical variables

l_cat_vars = ['PROD_ABBR','PROD_LINE','STATE_ABBR','VENDOR_IND','VENDOR']
dct_unique = {}

# Get a count of each unique value for each of the variables
for i in l_cat_vars:
    dct_unique[i] = {}
    dct_unique[i]['Values'] = pdf_data[i].unique()
    for k in dct_unique[i]['Values']:
        dct_unique[i][k] = len(pdf_data[pdf_data[i]==k])
dct_unique

{'PROD_ABBR': {'Values': array(['BOILERMACH', 'BOP', 'COMMAUTO', 'COMMINLMAR', 'COMMPOL',
         'COMMUMBREL', 'CRIME', 'FIREALLIED', 'GARAGE', 'GENERALIAB',
         'WORKCOMP', 'ANNIV', 'ANNIV   12', 'CYCLES', 'DTALK', 'DWELLFIRE',
         'HOMEOWNERS', 'MOBILEHOME', 'MOTORHOM12', 'MOTORHOME',
         'PERSUMBREL', 'YACHT', 'DTALK   12', 'PERSINLMAR', 'SNOWMOBILE',
         'CYCLES  12', 'SNOWMOBI12', 'PERSAIP'], dtype=object),
  'BOILERMACH': 13571,
  'BOP': 9659,
  'COMMAUTO': 14466,
  'COMMINLMAR': 12205,
  'COMMPOL': 13229,
  'COMMUMBREL': 9553,
  'CRIME': 6989,
  'FIREALLIED': 14142,
  'GARAGE': 8397,
  'GENERALIAB': 15254,
  'WORKCOMP': 7227,
  'ANNIV': 13823,
  'ANNIV   12': 3295,
  'CYCLES': 5808,
  'DTALK': 6977,
  'DWELLFIRE': 9735,
  'HOMEOWNERS': 14589,
  'MOBILEHOME': 5739,
  'MOTORHOM12': 1564,
  'MOTORHOME': 8310,
  'PERSUMBREL': 8978,
  'YACHT': 4479,
  'DTALK   12': 737,
  'PERSINLMAR': 2399,
  'SNOWMOBILE': 1233,
  'CYCLES  12': 847,
  'SNOWMOBI12': 62,
  'PERSAIP': 61},
 'PROD_LINE': {'Values': array(['CL', 'PL'], dtype=object),
  'CL': 124692,
  'PL': 88636},
 'STATE_ABBR': {'Values': array(['IN', 'KY', 'MI', 'OH', 'PA', 'WV'], dtype=object),
  'IN': 34923,
  'KY': 29420,
  'MI': 3691,
  'OH': 101323,
  'PA': 32207,
  'WV': 11764},
 'VENDOR_IND': {'Values': array(['N', 'Y'], dtype=object),
  'N': 81402,
  'Y': 131926},
 'VENDOR': {'Values': array(['Unknown', 'C', 'A', 'E', 'G', 'B', 'D', 'H', 'J', 'F'],
        dtype=object),
  'Unknown': 81402,
  'C': 21914,
  'A': 35614,
  'E': 52092,
  'G': 3267,
  'B': 9405,
  'D': 5935,
  'H': 2053,
  'J': 1193,
  'F': 453}}

In [69]:
## Output final dataset

filename = 'agency_performance_final.csv'
pdf_data.to_csv(filename, index=False)